body {
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  padding: 0 2%;
  border: solid 4px gray;
  border-radius: 8%/ 5%;
}

.display.container {
  margin: 5% 2%;
  height: 25%;
  border: 2px solid grey;
  border-radius: 4.4%/ 9.4%;
  padding: 0% 5%;
}

.display.top {
  align-items: center;
  justify-content: right;
  height: 40%;
  font-size: 60%;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.display.bottom {
  height: 60%;
  font-size: 90%;
  align-items: center;
  justify-content: right;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.button.container {
  height: 65%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button .button {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  border-radius: 10.35%/12.03%;
  border: 2px solid grey;
  font-size: 80%;
}

.button .button:hover {
  background-color: #3a3a3a;
}

.button .button.operation {
  background-color: rgb(95, 70, 6);
}
.button .button.operation:hover {
  background-color: rgb(138, 101, 9);
}
.button .button.special {
  background-color: rgb(18, 46, 5);
}
.button .button.special:hover {
  background-color: rgb(46, 117, 13);
}
.button .button.blank {
  border: 0px solid grey;
}
.button .button.blank:hover {
  background-color: #000000;
}
